/* CSS Document */
HTML, BODY, .h100 {
    height: 100%;

}
/* Principal*/
div.main{
    background: #ECECEC;
    border-radius: 15px;
    padding: 20px;
    font-size: 18px;
        box-shadow:  5px 5px 10px #c9c9c9, 
            -5px -5px 10px #ffffff;
}
small{
    font-size: 13px;
}

.titulo{
    padding: 0 18px;
    text-align: center;
    color: #666666;
    font-size: 40px;
    font-family: system-ui;
    margin: 20px;

}

/* Campo de aparição da senha*/
.input1{
    background-color: #ECECEC;
    border: 0px solid #CCCCCC;
    border-radius: 10px;
    box-shadow:  5px 5px 10px #c9c9c9, 
            -5px -5px 10px #ffffff;
    color: #363636;
    font-size: 24px;
    width: 650px;
    height: 50px;
    padding: 0 18px;
    text-align: center;
}
.insideslide{
    padding: 0 18px;
    text-align: center;
    color: #666666;
    font-size: 13px;
font-family: system-ui;

}

/* Botao Gerar Senha*/
.input2{
    margin-top: 15px;
    font-size: 18px;
    color: #666666;
    padding: 0 15px 0 15px;
    height: 50px;
    border-radius: 10px;
    box-shadow:  5px 5px 10px #c9c9c9, 
            -5px -5px 10px #ffffff;

    margin: 5px;
    border-radius: 10px;
background: #ECECEC;
box-shadow: 5px 5px 10px #c9c9c9, 
            -5px -5px 10px #ffffff;


    cursor: pointer;
    background-image: -moz-linear-gradient(center top , #0088CC, #0055CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-style: solid;
    border-width: 0px;
    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);*/
}
.input2:hover {
margin: 5px;
    border-radius: 10px;
    background: #ECECEC;
    box-shadow: inset 5px 5px 10px #c9c9c9, 
            inset -5px -5px 10px #ffffff;
}

/* SLIDER DIV*/
#my-slider {
    margin-top: 15px;
    border: #ffffff 0px solid;
    border-radius: 10px;
        box-shadow:  5px 5px 10px #c9c9c9, 
            -5px -5px 10px #ffffff;
}
#drag-helper {
    border-radius: 10px;
    
}

label{
    width: 148px;
    display: inline-block;
    cursor: pointer;
    line-height: 48px;
    border: 0px #ffffff solid;
    margin: 6px;
    border-radius: 10px;
    background-color: #ECECEC;
    box-shadow:  5px 5px 10px #c9c9c9, 
            -5px -5px 10px #ffffff;
    font-family: system-ui;
}
#footer {
    padding: 30px 0 0 0;
}
#boxes {
    margin-top: 15px;
    padding: 1px 0 1px 0;
}
